
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk"          LOC = P56  | IOSTANDARD = LVTTL;
NET "reset"        LOC = P38  | IOSTANDARD = LVTTL | PULLUP;
NET "button_in<1>" LOC = P81  | IOSTANDARD = LVTTL | PULLUP;
NET "button_in<0>" LOC = P83  | IOSTANDARD = LVTTL | PULLUP;

NET "rtc_reset"    LOC = P84  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET "rtc_scl"      LOC = P82  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET "rtc_sda"      LOC = P80  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
#NET "rtc_clk"      LOC = P78  | IOSTANDARD = LVTTL | PULLUP;

NET month_row<15>  LOC = P94  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<14>  LOC = P93  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<13>  LOC = P97  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<12>  LOC = P99  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<11>  LOC = P104 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<10>  LOC = P95  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<9>   LOC = P101 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<8>   LOC = P102 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<7>   LOC = P98  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<6>   LOC = P100 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<5>   LOC = P119 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<4>   LOC = P117 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<3>   LOC = P121 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<2>   LOC = P105 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<1>   LOC = P112 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;
NET month_row<0>   LOC = P115 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 24;

NET month_col<2>   LOC = P116 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET month_col<1>   LOC = P114 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET month_col<0>   LOC = P111 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;

NET year_row<13>   LOC = P140 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<12>   LOC = P142 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<11>   LOC = P6   | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<10>   LOC = P2   | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<9>    LOC = P144 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<8>    LOC = P10  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<7>    LOC = P8   | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;

NET year_row<6>    LOC = P12  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<5>    LOC = P15  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<4>    LOC = P24  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<3>    LOC = P22  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<2>    LOC = P17  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<1>    LOC = P30  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET year_row<0>    LOC = P27  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;

NET day_row<6>     LOC = P141 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET day_row<5>     LOC = P139 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET day_row<4>     LOC = P1   | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET day_row<3>     LOC = P5   | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET day_row<2>     LOC = P137 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET day_row<1>     LOC = P138 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET day_row<0>     LOC = P143 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;

NET hour_row<6>    LOC = P23  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET hour_row<5>    LOC = P26  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET hour_row<4>    LOC = P34  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET hour_row<3>    LOC = P32  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET hour_row<2>    LOC = P29  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET hour_row<1>    LOC = P50  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET hour_row<0>    LOC = P40  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;

NET min_row<6>     LOC = P74  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET min_row<5>     LOC = P66  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET min_row<4>     LOC = P75  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET min_row<3>     LOC = P79  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET min_row<2>     LOC = P57  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET min_row<1>     LOC = P58  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET min_row<0>     LOC = P67  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;

NET seg_col<1>     LOC = P120 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET seg_col<0>     LOC = P118 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;

NET am_pm_leds<1>  LOC = P33  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET am_pm_leds<0>  LOC = P35  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET colon_leds<1>  LOC = P41  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET colon_leds<0>  LOC = P51  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;

NET "led<0>"       LOC = P134 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET "led<1>"       LOC = P133 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET "led<2>"       LOC = P132 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET "led<3>"       LOC = P131 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET "led<4>"       LOC = P127 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET "led<5>"       LOC = P126 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET "led<6>"       LOC = P124 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
NET "led<7>"       LOC = P123 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 12;
